input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #99b3ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 400px;
}

input[type="submit"]:hover
{
    cursor: pointer;
    background: #ccd9ff;
    color: #fff;
    transition: .3s;
}